
html    { box-sizing      : border-box ; }
a       { text-decoration : none       ; }
a:hover { text-decoration : underline  ; }

*,
*::before,
*::after
{
	box-sizing : inherit ;
	margin     : 0       ;
	padding    : 0       ;
	border     : 0       ;
	/*
	The `button` element, for example,
	somehow doesn't inherit some values.
	*/
	font-family : inherit ;
	font-size   : inherit ;
	color       : inherit ;
}

body
{
	min-height  : 100vh  ;
	font-family : Roboto ;
	font-size   : 18px   ;
}



/* Helper classes ------------------------------------------------------------ */
.flex               { display         : flex         ; }
.flex.space-between { justify-content : space-between; }
.flex.space-evenly  { justify-content : space-evenly ; }
.flex.x.center-x    { justify-content : center       ; }
.flex.y             { flex-direction  : column       ; }
.flex.y.left        { align-items     : flex-start   ; }
.flex.y.center-x,
.flex.x.center-y    { align-items     : center       ; }
.grow               { flex-grow       : 1            ; }
.gap-30             { gap             : 30px         ; }
.width-1020         { width           : 1020px       ; }

.flex.center
{
	justify-content : center ;
	align-items     : center ;
}



/* Header -------------------------------------------------------------------- */
header h1,
header p,
header button,
header .logo,
header .nav li { position      : relative ; }
header p,
header button,
header .logo,
header .nav li { line-height   : 30px     ; }
header p       { top           : 7px      ; }
header p,
header .nav    { margin-bottom : 30px     ; }
header img     { align-self    : flex-end ; }
header .nav ul { gap           : 30px     ; }

header
{
	height      : 660px ;
	padding-top : 30px  ;
}

header h1
{
	margin-top  : 120px ;
	top         : 11px  ;
	font-size   : 48px  ;
	font-weight : 900   ;
	line-height : 60px  ;
}

header button
{
	padding       : 15px 30px ;
	font-weight   : 700       ;
	border-radius : 9px       ;
}

header .logo
{
	top         : 5px  ;
	font-size   : 24px ;
	font-weight : 900  ;
}

header .nav li
{
	top            : 7px  ;
	list-style-type: none ;
}



/* Gallery ------------------------------------------------------------------- */
.gallery .item           { width : 168px ; }
.gallery > .flex > .flex { width : 820px ; }

.gallery
{
	padding-top    : 36px  ;
	padding-bottom : 30px  ;
	height         : 540px ;
}

.gallery h2
{
	font-size     : 36px ;
	font-weight   : 900  ;
	line-height   : 30px ;
	margin-bottom : 60px ;
}

.gallery .item p
{
	margin-top  : 7px    ;
	line-height : 30px   ;
	text-align  : center ;
}

.gallery .image
{
	width         : 180px     ;
	height        : 180px     ;
	border        : 4px solid ;
	border-radius : 15px      ;
}



/* Quotes -------------------------------------------------------------------- */
.quote,
.author       { position : relative ; }
.quotes       { height   : 420px    ; }
.quotes > div { width    : 754px    ; }

.quote
{
	top         : 15px   ;
	font-style  : italic ;
	font-weight : 300    ;
	font-size   : 36px   ;
	line-height : 60px   ;
}

.author
{
	top         : -25px ;
	margin-top  : 30px  ;
	font-size   : 24px  ;
	font-weight : 600   ;
	text-align  : right ;
	line-height : 30px  ;
}



/* Call to action ------------------------------------------------------------ */
.quotes + .flex { height : 360px ; }
.action p       { top    : 7px   ; }

.action h2,
.action p
{
	position    : relative ;
	line-height : 30px     ;
}

.action
{
	height        : 180px  ;
	width         : 1024px ;
	border-radius : 9px    ;
}

.action h2
{
	top       : 5px  ;
	font-size : 24px ;
}

.action > div
{
	height : 120px ;
	width  : 784px ;
}

.action button
{
	padding      : 4px 32px  ;
	font-weight  : 700       ;
	border-radius: 9px       ;
	background   : none      ;
	border       : 2px solid ;
}



/* Footer -------------------------------------------------------------------- */
footer
{
	font-size : 18px  ;
	height    : 120px ;
}



/* Colors -------------------------------------------------------------------- */
:root
{
	--blue    : #3882f6 ;
	--dark    : #1f2937 ;
	--light   : #e5e5e5 ;
	--lighter : #f9faf8 ;
}

header,
footer          { background-color : var(--dark)    ; }
header,
.action,
footer          { color            : var(--light)   ; }
header h1,
header .logo,
header button,
.action h2,
.action button  { color            : var(--lighter) ; }
header button   { background-color : var(--blue)    ; }
.gallery,
.quotes         { color            : var(--dark)    ; }
.gallery .image { border-color     : var(--blue)    ; }
.quotes         { background-color : var(--light)   ; }
.action         { background-color : var(--blue)    ; }
.action button  { border-color     : var(--lighter) ; }

/* This is meant to be deleted later on */
*, ::before, ::after { outline: 1px solid red; }

